{% extends "MarketBase.html" %}

{% block title %}
    Market - Products
{% endblock %}

{% block body %}
    <h1>Products</h1>
    <div class="row">
        {% for Product in Products %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img src="{{ Product.Image.url }}" class="card-img-top" alt="{{ Product.Name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ Product.Name }}</h5>
                        <p class="card-text">{{ Product.Description }}</p>
                        <h4 class="card-text">{{ Product.Price }}</h4>
                        <a href="{% url 'ProductInfo' Product.id %}" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}